<div class="containerAllInsurances">
    <h1>Os melhores planos PET do Brasil</h1>
    <div class="bigStars">
        <button class="btnDirection rigth"><</button>
        <div class="cardOfInsurance">
            <a href="/insurance/insurance/{{insurance.id}}">
                <header>
                    <h3>SOS PET</h3>
                    <img src="/img/pet.jpg" alt="pet">
                    <span>A partir de</span>
                    <strong>R$ 100 / mês</strong>
                </header>
                <span>Empresa: SOS PET LDTA</span>
                <p>O melhor plano para seu pet, você nunca mais vai se preoculpar com a sáude dele e seu dinheiro.</p>
            </a>
        </div>

        <div class="cardOfInsurance">
            <a href="/insurance/insurance/{{insurance.id}}">
                <header>
                    <h3>SOS PET</h3>
                    <img src="/img/pet.jpg" alt="pet">
                    <span>A partir de</span>
                    <strong>R$ 100 / mês</strong>
                </header>
                <span>Empresa: SOS PET LDTA</span>
                <p>O melhor plano para seu pet, você nunca mais vai se preoculpar com a sáude dele e seu dinheiro.</p>
            </a>
        </div>

        <div class="cardOfInsurance">
            <a href="/insurance/insurance/{{insurance.id}}">
                <header>
                    <h3>SOS PET</h3>
                    <img src="/img/pet.jpg" alt="pet">
                    <span>A partir de</span>
                    <strong>R$ 100 / mês</strong>
                </header>
                <span>Empresa: SOS PET LDTA</span>
                <p>O melhor plano para seu pet, você nunca mais vai se preoculpar com a sáude dele e seu dinheiro.</p>
            </a>
        </div>
        <button class="btnDirection left">></button>
    </div>

    <div class="InYourPlace">
        <h1>Planos de clinicas próximas a você</h1>
        <div class="CloseToMe">
            <div class="cardOfInsurance">
                <a href="/insurance/insurance/{{insurance.id}}">
                    <header>
                        <h3>SOS PET</h3>
                        <img src="/img/pet.jpg" alt="pet">
                        <span>A partir de</span>
                        <strong>R$ 100 / mês</strong>
                    </header>
                    <span>Empresa: SOS PET LDTA</span>
                    <p>O melhor plano para seu pet, você nunca mais vai se preoculpar com a sáude dele e seu dinheiro.</p>
                </a>
            </div>
            
            <div class="cardOfInsurance">
                <a href="/insurance/insurance/{{insurance.id}}">
                    <header>
                        <h3>SOS PET</h3>
                        <img src="/img/pet.jpg" alt="pet">
                        <span>A partir de</span>
                        <strong>R$ 100 / mês</strong>
                    </header>
                    <span>Empresa: SOS PET LDTA</span>
                    <p>O melhor plano para seu pet, você nunca mais vai se preoculpar com a sáude dele e seu dinheiro.</p>
                </a>
            </div>
            
            <div class="cardOfInsurance">
                <a href="/insurance/insurance/{{insurance.id}}">
                    <header>
                        <h3>SOS PET</h3>
                        <img src="/img/pet.jpg" alt="pet">
                        <span>A partir de</span>
                        <strong>R$ 100 / mês</strong>
                    </header>
                    <span>Empresa: SOS PET LDTA</span>
                    <p>O melhor plano para seu pet, você nunca mais vai se preoculpar com a sáude dele e seu dinheiro.</p>
                </a>
            </div>

            <div class="cardOfInsurance">
                <a href="/insurance/insurance/{{insurance.id}}">
                    <header>
                        <h3>SOS PET</h3>
                        <img src="/img/pet.jpg" alt="pet">
                        <span>A partir de</span>
                        <strong>R$ 100 / mês</strong>
                    </header>
                    <span>Empresa: SOS PET LDTA</span>
                    <p>O melhor plano para seu pet, você nunca mais vai se preoculpar com a sáude dele e seu dinheiro.</p>
                </a>
            </div>

            
        </div>
    </div>
</div>