<div class="registerContainer">
    <div class="registerControls">
        <h1>Criar plano PET</h1>
        <p>Olá {{user.name}}, vamos cuidar dos pet do mundo hoje!</p>
        <form action="/insurance/create" method="post">

            <div class="formControl">
                <label for="namePlam">Nome do Plano</label>
                <input type="text" name="namePlam" placeholder="Nome do plano de saúde pet">
            </div>

            <div class="formControl">
                <label for="price">Preço Mensal do Plano R$</label>
                <input type="number" name="price" placeholder="EX: 200">
            </div>

            <div class="formControl">
                <label for="comment">Comentario do Card</label>
                <textarea name="comment" placeholder="Adicione um comentaria que aparece no card - Máximo de 200 caracteres"></textarea>
            </div>

            <div class="formControl">
                <label for="description">Preço Mensal do Plano R$</label>
                <textarea name="description" placeholder="Descreva aqui seu plano para o pet"></textarea>
            </div>

            <input type="submit" value="Criar Plano PET">
        </form>


        <div class="AllMyInsurances">
            <h1>{{user.name}}, aqui está seus planos para PETs</h1>

            <ul>
                {{#each insurance}}
                    <li class="insurancesContainer">
                        <a href="/insurance/update-insurances/{{this.id}}">
                            <b>Nome do plano: <span>{{this.name}}</span></b>
                            <b>Valor: R$ <span>{{this.price}}</span></b>
                            <span class="Active">Plano Ativo</span>
                        </a> 
                    </li>
                {{/each}}
            </ul>

        </div>
    </div>
</div>