<h1>Informações do plano de saúde PET</h1>
<h2>{{insurance.name}}</h2>
<b>R$ {{insurance.price}} / mês</b>
<span>{{insurance.comment}}</span>
<p>{{insurance.description}}</p>
<h1>Informações da empresa</h1>
<h2>{{user.name}}</h2>
<form action="/insurance/my-insurance" method="post">
    <input type="hidden" name="id" value="{{insurance.id}}">
    <input type="hidden" name="name" value="{{insurance.name}}">
    <input type="hidden" name="price" value="{{insurance.price}}">
    <input type="hidden" name="description" value="{{insurance.description}}">
    <input type="hidden" name="userid" value="{{user.id}}">
    <input type="submit" class="btn" value="Comprar Plano">
</form>